<%
# Copyright (C) 2016 Witesy Contributors
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>
<%= render "shared/error_messages", :target => @shipping_mode %>
<%= form_for @shipping_mode, html: { role: 'form' } do |f| %>
    <div class="form-group">
        <%= f.label :mode %>
        <%= f.text_field :mode, { class: 'form-control', placeholder: 'Shipping Mode' } %>
    </div>
    <%= render "shared/resetsave", { associated_form: f } %>
<% end %>
